<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375709920710-rs89a9j08k8qim31n8c50lpfgj8e19u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375709920710-rs89a9j08k8qim31n8c50lpfgj8e19u5</string>
	<key>API_KEY</key>
	<string>AIzaSyBV5-RRqUd2_5wzwCYLKRpXMJDD5seWI-s</string>
	<key>GCM_SENDER_ID</key>
	<string>375709920710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEnglish</string>
	<key>PROJECT_ID</key>
	<string>flutter-english-d72fb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-english-d72fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375709920710:ios:2b2c2722dc6436b6ed16c7</string>
</dict>
</plist>